  *
{
   margin:0;
   padding:0;
}
body
{
   background-image:linear-gradient(rgba(0,0,0,0.7),rgba(0,0,0,0.7)),url(img/pic3.jpg);
    height: 100vh;
   background-size: cover;
   background-posotion: center;
}

.main-nav 
{
    float: right;
    list-style: none;
    margin-top: 30px;
    
}

.main-nav li
{
    display: inline-block;
}

.main-nav li a
{
    color: white;
    text-decoration: none;
    padding: 5px 20px;
    font-family: "Roboto", sans-serif;
    font-size: 15px;
}

.main-nav li.active a
{
    border: 2px solid white;
}
.main-nav li a:hover
{
    border: 2px solid white;
}
.logo img 
{
    width: 150px;
    height: auto;
    float: left;
    
}
body 
{
    font-family: monospace;
}

.row 
{
    max-width: 1200px;
    margin: auto;
}
.topnav {
  background-color: #74B9FF;
  overflow: hidden;
}
.topnav a {
  float: left;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}
topnav a:hover {
  background-color: #ddd;
  color: black;
}
.topnav a.active {
  background-color: #4CAF50;
  color: white;
}

.players

{
    height: 400px;
    width: auto;
    padding: 200px;
    margin-left: 180px;
    

}
.txt1
{
   text-align:center;
    color: #74B9FF;
    padding-top: 14px;
    font-size: 50px;
    
    
  
}
.ply1
{
    border: 2px solid #74B9FF;
    border-radius: 100px;
    margin-bottom: 30px;
       padding-bottom: 50px;
  
    
    

}

.ply2
{
    border: 2px solid #74B9FF;
    border-radius: 100px;
    margin-bottom: 30px;
       padding-bottom: 50px;
}
   
.ply3
{
    border: 2px solid #74B9FF;
    border-radius: 100px;
    margin-bottom: 30px;
       padding-bottom: 50px;
}
  
.ply4
{
    border: 2px solid #74B9FF;
    border-radius: 100px;
    margin-bottom: 30px;
       padding-bottom: 50px;
}
   
.ply5
{
    border: 2px solid #74B9FF;
    border-radius: 100px;
    margin-bottom: 30px;
    margin-top: 30px;
    padding-bottom: 50px;
  
}
   
.ply6
{
    border: 2px solid #74B9FF;
    border-radius: 100px;
    margin-bottom: 30px;
       padding-bottom: 50px;
}

.ply7
{
    border: 2px solid #74B9FF;
    border-radius: 100px;
    margin-bottom: 30px;
       padding-bottom: 50px;
}
   
.ply8
{
    border: 2px solid #74B9FF;
    border-radius: 100px;
    margin-bottom: 30px;
       padding-bottom: 50px;
}


  
.h1
{
    font-size: 50px;
    color: #74B9FF;
    text-align: center;
    padding-top: 30px;
}

.team1
{
    height: 350px;
    width: auto;
    padding-left: 50px;
   
    
}

.team2
{
    height: 350px;
    width: auto;
    padding-left: 50px;
    
    
}
.team3
{
    height: 350px;
    width: auto;
    padding-left: 50px;
  
}
.team4
{
    height: 350px;
    width: auto;
    padding-left: 50px;
  
}
.team5
{
    height: 350px;
    width: auto;
    padding-left: 50px;
   
    
}
.team6
{
    height: 350px;
    width: auto;
    padding-left: 90px;
    
}
.team7
{
    height: 350px;
    width: auto;
    padding-left: 130px;
   
    
}
.team8
{
    height: 300px;
    width: auto;
    padding-left: 50px;
    
    
}
.team
{
    padding-left: 100px;
}
.box1
{
  width: 284px;
  height: 350px;
  border: 2px solid #000;
  border-radius: 100px;
  position: relative;
  left: 200px;
  background-image: url(img/players/1.png);
  background-repeat: no-repeat;
  border-color: #E8290B;
  margin-top: 50px;
}
.box1 h1
{
  position: absolute;
  top: 300px;
  left: 35px;
  color: #74B9FF;
}



.box2
{
  width: 284px;
  height: 350px;
  border: 2px solid #000;
  border-radius: 100px;
  position: relative;
  left: 1000px;
  top: -410px;
  background-image: url(img/players/2.png);
  background-repeat: no-repeat;
  border-color: #E8290B;
  margin-top: 50px;
}
.box2 h1
{
  position: absolute;
  top: 300px;
  left: 50px;
  color: #74B9FF;
}




.box3
{
  width: 284px;
  height: 350px;
  border: 2px solid #000;
  border-radius: 100px;
  position: relative;
  left: 600px;
  top: -760px;
  background-image: url(img/players/3.png);
  background-repeat: no-repeat;
  border-color: #E8290B;
  
}
.box3 h1
{
  position: absolute;
  top: 300px;
  left: 50px;
  color: #74B9FF;
}


.box4
{
  width: 284px;
  height: 350px;
  border: 2px solid #000;
  border-radius: 100px;
  position: relative;
left:   1400px;
 top: -1172px;
  background-image: url(img/players/4.png);
  background-repeat: no-repeat;
  border-color: #E8290B;
  margin-top: 50px;
}
.box4 h1
{
  position: absolute;
  top: 300px;
  left: 50px;
  color: #74B9FF;
}




.box5
{
  width: 284px;
  height: 350px;
  border: 2px solid #000;
  border-radius: 100px;
  position: relative;
  left: 200px;
  top: -1100px;
  background-image: url(img/players/5.png);
  background-repeat: no-repeat;
  border-color: #E8290B;
  margin-top: 50px;
}
.box5 h1
{
  position: absolute;
  top: 300px;
  left:45px;
  color: #74B9FF;
}



.box6
{
  width: 284px;
  height: 350px;
  border: 2px solid #000;
  border-radius: 100px;
  position: relative;
  left: 600px;
  top: -1505px;
  background-image: url(img/players/6.png);
  background-repeat: no-repeat;
  border-color: #E8290B;
  margin-top: 50px;
}
.box6 h1
{
  position: absolute;
  top: 280px;
  left: 55px;
  color: #74B9FF;
}


.box7
{
  width: 284px;
  height: 350px;
  border: 2px solid #000;
  border-radius: 100px;
  position: relative;
  left: 1000px;
  top: -1907px;
  background-image: url(img/players/7.png);
  background-repeat: no-repeat;
  border-color: #E8290B;
  margin-top: 50px;
}
.box7 h1
{
  position: absolute;
  top: 300px;
  left: 45px;
  color: #74B9FF;
}


.box8
{
  width: 284px;
  height: 350px;
  border: 2px solid #000;
  border-radius: 100px;
  position: relative;
  left: 1400px;
  top: -2312px;
  background-image: url(img/players/8.png);
  background-repeat: no-repeat;
  border-color: #E8290B;
  margin-top: 50px;
}
.box8 h1
{
  position: absolute;
  top: 300px;
  left: 50px;
  color: #74B9FF;
}











