 body
{
   background-image:linear-gradient(rgba(0,0,0,0.7),rgba(0,0,0,0.7)),url(img/ipl/background.jpg)
   height: 100vh;
   background-size: cover;
   background-posotion: center;
   font-family: monospace;

}

h1
{
    font-size: 50px;
    color: #74B9FF;
    text-align: center;
    padding-top: 30px;
}

.main-nav 
{
    float: right;
    list-style: none;
}

.main-nav li
{
    display: inline-block;
}

.main-nav li a
{
    color: white;
    text-decoration: none;
    font-family: "Roboto", sans-serif;
    font-size: 15px;
}

.main-nav li.active a
{
    border: 2px solid white;
}

.main-nav li a:hover
{
    border: 2px solid white;
}

.logo 
{
    max-height: 80px;
    width: auto;
    float: left;   
}

.topnav {
  background-color: #74B9FF;
  overflow: hidden;
}

.topnav a {
  float: left;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

.topnav a:hover {
  background-color: #ddd;
  color: black;
}

.topnav a.active {
  background-color: #4CAF50;
  color: white;
}

.players {
    height: 400px;
    width: auto;
    padding: 200px;
    margin-left: 180px;
}

.txt1
{
    text-align:center;
    color: #74B9FF;
    padding-top: 14px;
    font-size: 50px;  
}

.ply {
  border: 2px solid #74B9FF;
  border-radius: 100px;
  margin-bottom: 30px;
  padding-bottom: 50px;
}
 
.team-logos
{
    height: 200px;
    width: auto;
    padding: 30px 30px 30px 30px;
}

.table
{
  width: 60%;
}


.mem
{
    padding-left: 50px;
    width: auto;
    height: 300px;
    
}

